.jumbotron {
        background-image: url(jumbo.png);
        margin-bottom: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        text-decoration-color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        text-align: center;
        }

.jumbotron h1{
        color: #ffffff
        }

.jumbotron p{
        color: #ffffff
        }

#companySummary {
        text-align: center;

        }
#companySummary h1 {
        padding: 20px;
}
#companySummary p {
        margin-left: 20%;
        margin-right: 20%;

}
#bodyText {
        padding-bottom: 35px;
        padding-top: 35px; 
}